[Unit]
Description=IDTrack GPIO Init
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/idtrack-gpio-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target